<div class="top-bar pt-2 pb-2">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <span><strong>Contact Us</strong> : (864) 241-0450</span>
      </div>
      <div class="col">
        <span><strong>Open Hours</strong> : Tues-Sat : 9am-6pm</span>
      </div>
      <div class="col">
        <span><strong>*Hours may vary by appointment</strong></span>
      </div>
      <div class="col">
        <span><a href="https://www.facebook.com/Gracie-Bs-Salon-733150640227595/" target="_blank"><strong><i
                class="fab fa-facebook-f text-white"></i></strong></a></span>
      </div>
    </div>
  </div>
</div>
