<div class="top-bar pt-2 pb-2">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <span><strong>Contact Us</strong> : (864) 241-0450</span>
      </div>
      <div class="col">
        <span><strong>Open Hours</strong> : Tues-Sat : 9am-6pm</span>
      </div>
      <div class="col">
        <span><strong>*Hours may vary by appointment</strong></span>
      </div>
      <div class="col">
        <span><a href="https://www.facebook.com/Gracie-Bs-Salon-733150640227595/" target="_blank"><strong><i
                class="fab fa-facebook-f"></i></strong></a></span>
      </div>
    </div>
  </div>
</div>

<nav class="navbar sticky-top navbar-expand-lg nav-padding" id="home">
  <a class="navbar-brand nav-padding" href="#">
    <img src="../../../assets/logo.png" style="max-height: 50px;" class="d-inline-block align-top post" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="menu__icon menu__icon--open">
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </span>
    <span class="menu__icon menu__icon--close">
      <span>
        <i class="fas fa-times"></i>
      </span>
    </span>
  </button>
  <div class="collapse navbar-collapse justify-content-end nav-padding" id="navbarNav">
    <ul class="navbar-nav post">
      <li class="nav-item">
        <a class="nav-link" href="#top">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
