<app-navbar></app-navbar>

<div class="welcome" id="home">
  <div class="overlay">
    <nav class="navbar navbar-expand-lg nav-padding" id="home"
      [ngClass]="{ changeNav : scrolled >= 729, changeColor : show == true, mobileNav : scrolled >= 1 }">
      <a class="nav-padding" href="#" [className]="scrolled >= 729 ? 'addLogo' : 'navbar-brand'">
        <img src="./assets/logoWhite.png" style="max-height: 50px;" class="d-inline-block align-top post"
          alt="Gracie B's" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="showMe()">
        <span class="menu__icon menu__icon--open">
          <span>
            <i class="fas fa-bars"></i>
          </span>
        </span>
        <span class="menu__icon menu__icon--close">
          <span>
            <i class="fas fa-times"></i>
          </span>
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end nav-padding" id="navbarNav">
        <ul class="navbar-nav post">
          <li class="nav-item">
            <a class="nav-link" href="#top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="text-md-center test">
      <img src="./assets/logo.png" alt="Gracie B's" />
      <h1>Not your average salon,</h1>
      <h3>We're a one stop shop!</h3>
      <br /><br /><br />
      <a class="rounded-btn" href="#services" id="about">Learn More</a>
      <br /><br />
    </div>
  </div>
</div>

<div class="staff pt-5 pb-5">
  <div class="container text-center">
    <h2>Our Talented Staff</h2>
    <br />
    <div class="row">
      <div class="col-sm">
        <div class="pic1 centerBlock"></div>
        <h3>Coming Soon: Gracie Bayne</h3>
        <p>
          Gracie's love for makeup and skin care is what motivated her to attend
          Kenneth Shuler.
        </p>

        <p [hidden]="readMoreGracie">
          Gracie attended Travelers Rest High School and enjoyed being in the
          school pageants and this is when she fell in love with makeup. Gracie
          also realized in order for your makeup to look great, you need to have
          a wonderful skincare routine. Gracie is excited to teach others the
          tricks of the trade and latest techniques she learned at school. We
          are looking forward to having Gracie at Gracie B's in the near future.
        </p>

        <button (click)="readmoreGracie()">
          {{ readMoreGracie ? 'Read More' : 'Read Less' }}
        </button>
      </div>
      <div class="col-sm">
        <div class="pic2 centerBlock"></div>
        <h3>Amy Wilson</h3>
        <p>
          I am a single mother of three beautiful children, a Christian and a
          licensed cosmetoligist for 22
        </p>

        <p [hidden]="readMoreAmy">
          years, since 1996 in South Carolina. I am a resident of Travelers
          Rest. I practice in healthy hair and just about anything that pertains
          to hair and any color techniques from short to long, straight to
          curly. I am also blessed to be the manager at Gracie B's salon.
        </p>

        <button (click)="readmoreAmy()">
          {{ readMoreAmy ? 'Read More' : 'Read Less' }}
        </button>
      </div>
      <div class="col-sm">
        <div class="pic3 centerBlock"></div>
        <h3>Kara</h3>
        <p>
          My mission is to offer unsurpassed personalized skin care in a
          friendly, nurturing enviornment
        </p>

        <p [hidden]="readMoreKara">
          where
          clients can heal and beautify. I make use of the latest technologies
          as well, offering the newest treatments for targeted answers to any of
          your skin care concerns. Please feel free to reach me at <a href="tel:+1843601437">(864) 360-1437</a>
        </p>

        <button (click)="readmoreKara()" id="services">
          {{ readMoreKara ? 'Read More' : 'Read Less' }}
        </button>
      </div>

      <div class="col-sm">
        <div class="pic4 centerBlock"></div>
        <h3>Haley</h3>
        <p>
          I graduated from Travelers Rest High School and from Enoree Career
          Center cosmetology
        </p>

        <p [hidden]="readMoreHaley">
          program. My love for the beauty industry started at a young age and
          it's now my career and passion! I make use of the latest technologies
          as well, offering the newest treatments for targeted answers to any of
          your skin care concerns.
        </p>

        <button (click)="readmoreHaley()" id="services">
          {{ readMoreHaley ? 'Read More' : 'Read Less' }}
        </button>
      </div>

      <div class="col-sm">
        <div class="pic5 centerBlock"></div>
        <h3>McKenzie</h3>
        <p>
          I'm McKenzie, 23 years old. Born and raised in Easley, SC. I enjoy spending time with my family, friends,
        </p>

        <p [hidden]="readMoreMcKenzie">

          taking trips to the mountains and of course...shopping!!
          I have been doing hair for about 2 years now and I have loved every minute of it! I am so excited to be apart
          of Gracie B's salon and continue to build my clientele here! Please feel free to reach me at <a
            href="tel:+1846076588">(864) 607-6588</a>
        </p>

        <button (click)="readmoreMcKenzie()" id="services">
          {{ readMoreMcKenzie ? 'Read More' : 'Read Less' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="services text-md-center pt-5 pb-5">
  <h2 class="text-center">Here's what we offer ...</h2>
  <div class="container">
    <div class="row">
      <div class="col card-s">
        <img src="./assets/wig.png" class="cir-bg" /><br /><br />
        <p><u>Cut</u></p>
        <ul class="list-group">
          <li class="list-group-item text-left">
            <strong>Shampoo/cut/blowout starting at $35</strong>
          </li>
          <li class="list-group-item text-left">
            <strong>Blowout starting at $20</strong>
          </li>
          <li class="list-group-item text-left">
            <strong>Foil starting at $75</strong>
          </li>
          <li class="list-group-item text-left">
            <strong>Color starting at $65</strong>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col card-s">
        <img src="./comb2.png" class="cir-bg" /><br /><br />
        <p><u>Style</u></p>
        <p>Example text</p>
      </div>
    </div> -->
    <div class="row">
      <div class="col card-s" id="peels">
        <img src="./assets/lotion.png" class="cir-bg" /><br /><br />
        <p><u>Peels</u></p>
        <p>*Each peel is $75 and a bundle of 4 for $250</p>
        <ul class="list-group">
          <li class="list-group-item text-left">
            <strong>Wrinkle Lift</strong>

            <hr />

            <p class="text-center">
              A combination of glycolic acids with retinol to visibly reduce the
              appearance of fine lines. Leaving your skin firm and revitalized.
            </p>
          </li>

          <li class="list-group-item text-left">
            <strong>Lightening Lift</strong>

            <hr />

            <p class="text-center">
              Combination of the most innovative and effective botanical
              brighteners to help with pigmentation, aging, dry/dehydrated skin,
              and redness.
            </p>
          </li>

          <div [hidden]="viewAllPeels">
            <li class="list-group-item text-left">
              <strong>Ormedic Lift</strong>

              <hr />

              <p class="text-center">
                Helps to rebalance, regenerate, and restore skin with stem cells
                helping you maintain youthfulness of skin.
              </p>
            </li>

            <li class="list-group-item text-left">
              <strong>Signature Face Lift</strong>

              <hr />

              <p class="text-center">
                Combination of vitamin C, hydroxy acids, and enzymes to speed up
                cellular renewal. Supports redness prone skin and botanical
                detoxifying and energizing complexes giving noticeable results
                in one session.
              </p>
            </li>

            <li class="list-group-item text-left">
              <strong>Special O2 Lift A breath of fresh skin - $85</strong>

              <hr />

              <p class="text-center">
                Treatment designed to exfoliate and oxygenate. Removes all
                surface impurities while balancing and optimizing skins pH.
                Helping with aging, irritation, and pigmentation. Leaving your
                skin rejuvenated and illuminated.
              </p>
            </li>
          </div>

          <button (click)="viewallPeels()">
            {{ viewAllPeels ? 'View More' : 'View Less' }}
          </button>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col card-s">
        <img src="./assets/facialEdit.png" class="cir-bg" /><br /><br />
        <p><u>Facials</u></p>
        <ul class="list-group">
          <li class="list-group-item text-left">
            <strong>Express Facial - 35min $40</strong>

            <hr />

            <p class="text-center">
              This facial is designed for people on the go and who needs a
              little pick me up. It includes a deep cleanse, exfoliation, small
              facial massage, and a mask to leave you feeling refreshed and
              renwed.
            </p>
          </li>

          <li class="list-group-item text-left">
            <strong>Signature Facial - 1hr $60</strong>

            <hr />

            <p class="text-center">
              This facial is customized to meet each individual client. It
              includes a deep cleanse, exfoliation, extractions (if needed),
              facial massage and a customized treatment mask.
            </p>
          </li>

          <div [hidden]="viewAllFacials">
            <li class="list-group-item text-left">
              <strong>Anti-Aging Facial - 1hr $70</strong>

              <hr />

              <p class="text-center">
                Customized facial for pre-mature, aging skin. Includes special
                treatments to help reduce the appearance of fine lines and
                wrinkles, while hydrating and plumping the skin.
              </p>
            </li>

            <li class="list-group-item text-left">
              <strong>Purifying Facial - 1hr $70</strong>

              <hr />

              <p class="text-center">
                Designed for oily and acne skin. It will help minimize oil
                production and large congested pores. Includes a deep pore
                cleansing, exfoliation, facial extractions (if needed), and
                customized facial mask.
              </p>
            </li>

            <li class="list-group-item text-left">
              <strong>Specialty Facial - 1hr $80</strong>

              <hr />

              <p class="text-center">
                Seasons come and go, but your skin can always glow. With this
                specialty facial, you will receive a deep cleanse, seasonal
                enzyme facial exfoliation treatment, extractions (if needed),
                facial massage, and a seasonal face mask.
              </p>
            </li>

            <li class="list-group-item text-left">
              <strong>Back Facial - 40min $40</strong>

              <hr />

              <p class="text-center">
                Designed to help you relax and give your back the treatment it
                deserves. Includes a deep cleanse, exfoliation, massage, and a
                mask.
              </p>
            </li>

            <li class="list-group-item text-left">
              <strong>High Frequency Treatment - $35 add to facial $20</strong>

              <hr />

              <p class="text-center">
                Helps to prevent stubborn acne, shrink enlarged pores, reduces
                the appearance of fine lines and wrinkles, decongest puffy eyes,
                fade dark eye circles, rejuvenate the condition of the scalp and
                nourish hair follicles for healthier hair.
              </p>
            </li>

            <li class="list-group-item text-left">
              <strong>Microdermabrasion - $45 add to facial $20</strong>

              <hr />

              <p class="text-center">
                Microdermabrasion helps with dull skin, soften fine lines,
                smooths out coarse skin texture, reduces acne, and pore sizes,
                fades scars, and brown spots, and stimulates cell turnover and
                creation of collagen.
              </p>
            </li>
          </div>
          <button (click)="viewallFacials()">
            {{ viewAllFacials ? 'View More' : 'View Less' }}
          </button>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col card-s">
        <img src="./assets/wax.png" class="cir-bg" /><br /><br />
        <p><u>Waxing</u></p>
        <ul class="list-group">
          <li class="list-group-item text-left">
            <strong>Eyebrows - $10</strong>
          </li>

          <li class="list-group-item text-left">
            <strong>Lip - $10</strong>
          </li>

          <li class="list-group-item text-left">
            <strong>Chin - $10</strong>
          </li>

          <li class="list-group-item text-left">
            <strong>Sideburns - $10</strong>
          </li>

          <li class="list-group-item text-left">
            <strong>Full Face - $30</strong>
          </li>

          <div [hidden]="viewAllWax">
            <li class="list-group-item text-left">
              <strong>Underarms - $20</strong>
            </li>

            <li class="list-group-item text-left">
              <strong>Half arm - $15</strong>
            </li>

            <li class="list-group-item text-left">
              <strong>Full arm - $30</strong>
            </li>

            <li class="list-group-item text-left">
              <strong>Half leg - $25</strong>
            </li>

            <li class="list-group-item text-left">
              <strong>Full leg - $55</strong>
            </li>
          </div>

          <button (click)="viewallWax()">
            {{ viewAllWax ? 'View More' : 'View Less' }}
          </button>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col card-s">
        <img src="./assets/cosmetics.png" class="cir-bg" /><br /><br />
        <p><u>Other Services</u></p>
        <ul class="list-group">
          <li class="list-group-item text-left">
            <strong>Lash tint - $15</strong>
          </li>

          <li class="list-group-item text-left">
            <strong>Eyebrow Tint - $20</strong>
          </li>

          <li class="list-group-item text-left">
            <strong>Eyelash lift and tint - $60</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="testmon pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>
            100+<br />
            Satisfied Customers
          </h4>
        </div>
        <div class="col">
          <h4>
            5<br />
            Talented Specialists
          </h4>
        </div>
        <div class="col" id="gallery">
          <h4>
            1<br />
            Convenient Location
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobtime pt-5 pb-5">
  <div class="container">
    <h4 class="text-center">Our Hours</h4>
    <h6 class="text-center text-white">
      <strong>*Hours may vary by appointment</strong>
    </h6>
    <div class="row">
      <div class="col card-s">
        Open Hours<br />Tuesday - Saturday<br />
        9am-6pm
      </div>
      <div class="col card-s">
        Call Us!<br /><br />
        <a href="tel:+18642410450">(864) 241-0450</a>
      </div>
    </div>
    <div class="row">
      <div class="col card-s">
        Click For Directions<br /><br />
        <a href="https://goo.gl/maps/as7LZejtpoXjAVRr9" target="_blank">Click Me</a>
      </div>
    </div>
  </div>
  <br />
</div>

<div class="wrapper pt-5 pb-5">
  <h2 class="pb-5">Gallery</h2>
  <div class="masonry">
    <div class="brick">
      <img src="./assets/Gallery/IMG_1006.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1007.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_0209.PNG" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1008.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1009.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1010.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/hair1.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1011.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1012.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1013.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1014.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/hair2.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1015.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1016.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1018.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1021.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/amy.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1023.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1024.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1038.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/kara.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1051.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1052.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1064.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/hair4.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1067.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/mckenzie.png" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1073.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/haley.png" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1084.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/hair3.jpeg" alt="GracieBImages" />
    </div>
    <div class="brick">
      <img src="./assets/Gallery/IMG_1022.jpeg" alt="GracieBImages" />
    </div>
  </div>
</div>

<section id="contact">
  <div class="row">
    <div class="col1">
      <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUfM1acnylfjYkrCBfIyTS0fEStUC4zLY
    &q=Gracie+Bs+Greenville+SC" allowfullscreen>
      </iframe>
      <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true" [fullscreenControl]="true"
        [scrollwheel]="false">
        <agm-marker [latitude]="markers.lat" [longitude]="markers.lng" [label]="markers.label"
          [markerDraggable]="markers.draggable" [iconUrl]="goldStar"></agm-marker>
      </agm-map> -->
    </div>
    <div class="col2 flex" id="glitter">
      <h1 class="text-center">Contact Us:</h1>
      <br />
      <h2 class="text-left"><strong>Phone Number:</strong></h2>
      <h4 class="mt-2"><a href="tel:+18642410450">(864) 241-0450</a></h4>
      <hr />
      <h2 class="text-left"><strong>Email:</strong></h2>
      <h4 class="mt-2">
        <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a>
      </h4>
      <hr />
      <h2 class="text-left"><strong>Facebook:</strong></h2>
      <h4 class="mt-2">
        <a href="https://www.facebook.com/Gracie-Bs-Salon-733150640227595/" target="_blank"><i
            class="fab fa-facebook-f fa-2x"></i></a>
      </h4>
    </div>
  </div>
</section>

<div class="footer pt-2 pb-2">
  <div class="container">
    <div class="row text-center">
      <div class="col">Gracie B's Salon &copy; 2019</div>
    </div>
  </div>
</div>
