/* You can add global styles to this file, and also import other style files */
$pinkhue: #6d2e52;

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat',
    sans-serif;
}


@media only screen and (max-width: 900px) {
  .mobtime {
    display: block !important;
  }

  .top-bar {
    display: none !important;
  }

  .testmon .col {
    background: white;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    text-align: center;
  }
}

.mobtime {
  display: none;
  font-size: 14px;
  background-image: url(./assets/248613-P3U1ZD-912.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
}


.top-bar {
  width: 100%;
  background: $pinkhue;
  color: white;
  font-size: 14px;
}

.navbar {
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.06);
  background: white;
}

.nav-padding {
  padding: 10px;
}

.nav-link {
  color: black;
  margin-right: 10px;
}

.nav-link:hover {
  color: grey;
}

.swiper-container {
  height: 90vh;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  font-size: 20px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


.fix-img {
  width: 100%;
  max-height: 100%;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
}

.welcome {
  background-image: url(./assets/O946N20.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.welcome h1,
h3 {
  font-weight: bold;
  color: white;
  letter-spacing: 5px;
  font-size: 2em;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  color: white;
}

.overlay2 {
  background: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  color: white;
}

.rounded-btn {
  border-radius: 50px;
  border: solid #6D2E52 2px;
  width: 120px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}

.rounded-btn:hover {
  border-radius: 50px;
  background: #6D2E52;
  width: 120px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}


.services {
  background-image: url(./assets/leav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-s {
  background: white;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
  border-bottom: solid 3px #6D2E52;
  padding: 10px;
  text-align: center;
}


.cir-bg {
  width: 90px;
  height: 90px;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 10px;
}

.testmon {
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.pic1 {
  background-image: url(https://images.unsplash.com/photo-1510520434124-5bc7e642b61d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6b256ab85181b440dbd72eb4b1c297c&auto=format&fit=crop&w=334&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid grey 3px;
  height: 120px;
  width: 120px;
}

.pic2 {
  background-image: url(./assets/amy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid grey 3px;
  height: 120px;
  width: 120px;
}

.pic3 {
  background-image: url(./assets/kara.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid grey 3px;
  height: 120px;
  width: 120px;
}



.centerBlock {
  display: table;
  margin: auto;
}

.pic img {
  border-radius: 50%;
  border: solid grey 3px;
  height: 150px;
  width: 150px;
}

.staff h3 {
  color: black;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.border-it {
  border-right: solid 3px white;
}

agm-map {
  height: 350px;
  width: 100%;
}

button {
  outline: none !important;
  border: none;
}

[aria-expanded=false] .menu__icon--open {
  display: block;
  outline: none;
}

[aria-expanded=false] .menu__icon--close {
  display: none;
  outline: none;
}

[aria-expanded=true] .menu__icon--open {
  display: none;
  outline: none;
}

[aria-expanded=true] .menu__icon--close {
  display: block;
  outline: none;
}
